.divide {
    width:880px;
    border:#de7814;
    height:3px;
    background-color:#de7814;
}

.bottomd {
    margin-bottom:20px;
}

.cartItem {
    width: 90%;
    float: left;
    margin-right: 10px;
    font-size: 16px;
    list-style-type: none;
}

.cartItem>img {
    float: left;
}

.cartItem>text {
    margin-top: 10px;
}

.bookcover {
    height: 192px;
    width: 136px;
    
}

.itemtitle {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
}
.cartItem>.Price {
    float: right;
    font-weight: 600;
    margin-right: 50px;
    font-size: 26px;
    color: #de7814;
    margin-top: 25px;
}
