<link rel="stylesheet" type="text/css" href="../css/home.css" />
<div class="home">
    <div class="hometop">
        <div class="bigcontent">
            <div class="MessageBox">
                <!-- <input class="search"/> -->
            </div>
            <div class="CarouselBox">
                <div id="carousel" class="carousel">
                    <div class="item">
                        <img src="../image/thehunter.jpg">
                        <div class="caption">
                            <div class="ctitle">《猎杀》
                                <br />&nbsp(The Hunt)</div>
                            <div class="ccontent">一个次世代的Unity3D项目,画面惊人的科幻游戏。</div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../image/cyberpunk.jpg">
                        <div class="caption">
                            <div class="ctitle">《赛博朋克2077》
                                <br />&nbsp(Cyberdivunk 2077)</div>
                            <div class="ccontent">CD Projekt RED（简称CDPR）开发制作的一款角色扮演游戏。故事设定在黑暗腐败、科技高度发达的未来世界中，并且兼有开放世界元素与RPG机制。</div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../image/lol.jpg">
                        <div class="caption">
                            <div class="ctitle">《英雄联盟》
                                <br />&nbsp(League of Legends)</div>
                            <div class="ccontent">由美国拳头游戏（Riot Games）开发、中国大陆地区腾讯游戏代理运营的英雄对战MOBA竞技网游。</div>
                        </div>
                    </div>
                    <button class="prev" onclick="prevSlide(this)">&#10094;</button>
                    <button class="next" onclick="nextSlide(this)">&#10095;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="homebottom">
        <div class="bigcontent">
        </div>
    </div>
</div>