<link rel="stylesheet" type="text/css" href="../css/login.css" />
<div>
    <div class="bigblack"></div>
    <div class="logindesk">
        <div class="logintitle">
            <img src="image/logo.png"/>
        </div>
            <div id="loginContent">
                <div id="loginform">
                    <span>使用账户名和密码进行登录</span>
                    <input class="ltextbox m" id="id" name="id" type="text" placeholder="用户名">
                    <input class="ltextbox l" id="password" name="password" type="password" placeholder="密码">
                    <button class="lbutton2" onclick="login()">登录</button>
                </div>
                <div class='bottom'>
                    如没有账户，请<a href="/#/register" class='router'>注册</a>
                </div>
            </div>
    </div>
</div>