<link rel="stylesheet" type="text/css" href="../css/order.css" />
<div class="orderBox">
    <div class="MessageBox">
    </div>
    <div class="orderLeft">
        <div class="orderTitle">    
            历史订单
        </div>
        <div class="contentBox">
            <div class="bracket"></div>
            <div class="orderContent"></div>
        </div>
    </div>
</div>
<template id="OrderTemplate">
    <div>
        <div class="listBox">
            <div class="left">
            </div>
            <div class="right">
                <span class="time"></span>
            </div>
        </div>
    </div>
</template>